{% extends 'base.html' %}
{% block content %}
    <style>
        a:link {
            color: green;
            background-color: transparent;
            text-decoration: none;
        }
        a:visited {
            color: rgb(0, 0, 0);
            background-color: transparent;
            text-decoration: none;
        }
        a:hover {
            color: rgb(0, 0, 0);
            background-color: transparent;
            text-decoration: underline;
        }
        a:active {
            color: rgb(0, 0, 0);
            background-color: transparent;
            text-decoration: underline;
        }
    </style>





        <div class="container-fill text-center" >
            <div class="row">
                <div class="col-2 fst" >
                    <div class="container text-center">
                        <div class="row g-2">
                          <div class="col-12">
                            <div class="p-3 m-3 border bg-dark hoading">Main village</div>
                            <div class="row linkio"><a href="#">Th1</a></div>
                            <div class="row linkio"><a href="#">Th2</a></div>
                            <div class="row linkio"><a href="#">Th3</a></div>
                            <div class="row linkio"><a href="#">Th4</a></div>
                            <div class="row linkio"><a href="#">Th5</a></div>
                            <div class="row linkio"><a href="#">Th6</a></div>
                            <div class="row linkio"><a href="#">Th7</a></div>
                            <div class="row linkio"><a href="#">Th8</a></div>
                            <div class="row linkio"><a href="#">Th9</a></div>
                            <div class="row linkio"><a href="#">Th10</a></div>
                            <div class="row linkio"><a href="#">Th11</a></div>
                            <div class="row linkio"><a href="#">Th12</a></div>
                            <div class="row linkio"><a href="#">Th13</a></div>
                            <div class="row linkio"><a href="#">Th14</a></div>
                            <div class="row linkio"><a href="#">Th15</a></div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-8 snd">
                    <p>Hello col 2</p>
                </div>
                <div class="col-2 trd">
                    <p>Hello col 3</p>
                </div>
            </div>
        </div>
{% endblock content %}